# Ignore node_modules directory
node_modules/

# Ignore build outputs
/build
/dist

# Ignore environment variables
.env

# Ignore logs and temporary files
*.log
*.tmp

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
